body {
    margin-bottom: 60px;
}

.icon-logo-light {
    content: var(--logo-light);
}

.icon-logo-dark {
    content: var(--logo-dark);
}

#icon-logo {
    width: 50px;
    height: 50px;
}

.lh-lg {
    font-size: 1.125rem;
}

.margin-25vh {
    margin-top: 25vh;
}

.btn-siguiente-flotante {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--bs-primary-text-emphasis);
    border-radius: 5px;
    letter-spacing: 2px;
    background-color: var(--bs-secondary-bg);
    padding: 9px 15px;
    position: fixed;
    bottom: 80px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
    border: 1px solid var(--bs-primary-text-emphasis);
}

.btn-anterior-flotante {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--bs-primary-text-emphasis);
    border-radius: 5px;
    letter-spacing: 2px;
    background-color: var(--bs-secondary-bg);
    padding: 9px 15px;
    position: fixed;
    bottom: 80px;
    left: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
    border: 1px solid var(--bs-primary-text-emphasis);
}

.btn-siguiente-flotante:hover,
.btn-anterior-flotante:hover {
    background-color: var(--bs-border-color);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
    .btn-siguiente-flotante {
        position: absolute;
        font-size: 14px;
        padding: 6px 10px;
        bottom: 120px;
        right: 20%;
    }

    .btn-anterior-flotante {
        position: absolute;
        font-size: 14px;
        padding: 6px 10px;
        bottom: 120px;
        left: 20%;
    }
}