.cookie {
  visibility: hidden;
  background-color: var(--bs-dark-text-emphasis);
  position: fixed;
  bottom: var(--cookie-bottom);
  border-radius: 1rem;
  left: 0.5rem;
  padding: 1rem 1rem;
  margin: 0 0.5rem;
}

.cookie-txt {
  color: var(--bs-body-bg);
}

.cookie .accept {
  background-color: var(--bs-body-bg);
  border-radius: 2rem;
  margin-left: 1rem;
  border: 0.15rem solid var(--bs-primary-text-emphasis);
}

.cookie .accept:hover {
  background-color: var(--bs-link-hover-color);
  color: var(--bs-body-bg);
  transform: scale(1.05);
  border: 0.15rem solid var(--bs-body-bg);
  box-shadow: 0 0.15rem 0.15rem var(--shadow-next-button-hover);
}

@media (max-width: 575.98px) {
  .cookie {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    box-sizing: border-box;
    padding: 1rem;
    margin: 0 1rem;
    left: 0;
    bottom: 0.5rem;
  }

  .cookie-container .btn {
    margin: 0;
  }

  .cookie-txt {
    width: 100%;
  }
}