@media (min-width: 576px) {
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

.footer-social-logo:hover {
    transform: scale(1.15);
}

.footer-social-logo {
    height: 1.5rem;
}

.footer-social-logo > a {
    height: inherit;
}