.projects {
  padding: 2rem 10rem;
  margin: 0;
}

.card-wrapper {
  margin-bottom: 1rem;
  cursor: pointer;
}

.card-img-top {
  object-fit: contain;
}

.card-image .card .card-img-wrapper {
  height: 100%;
}

.projects .card-image .card .card-body {
  display: none;
}

.projects .card-image-title-description .card .card-img-wrapper {
  max-height: 50%;
}

.projects .card-image-title-description .card {
  position: relative;
  min-height: 16rem;
}

.projects .card-image-title-description .card .card-body {
  height: auto;
  position: relative;
  top: 0;
  margin-bottom: -4.5rem;
}

.projects .card-image-title-description .card:hover .card-body {
  top: 80%;
}

.projects .card-image-title-description .card .card-body .card-title {
  margin-bottom: .75rem;
}

.projects .card {
  display: inline-block;
  position: relative;
  overflow: hidden;
  min-height: 37.5rem;
  height: 100%;  
}

.projects .card:hover {
  box-shadow: 0 0 1rem var(--card-hover);
}

.card-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  overflow: hidden;
}

.card-img-wrapper img {
  transition: 0.5s ease;
}

.projects .card:hover .card-img-wrapper img {
  transform: scale(1.15);
}

.projects .card-body .card-title {
  margin-bottom: calc(50% + 1.25rem);
  transition: 0.5s ease;
}

.projects .card:hover .card-body .card-title {
  margin-bottom: .75rem;
}

.projects .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  background-color: var(--bs-secondary-bg);
  transition: 1.5s ease;
}

.card-content {
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
}

.projects .card:hover .card-body {
  height: 70%;
}

.projects .card:hover .card-content {
  bottom: 0;
}

[data-bs-theme="dark"] {
  .badge {
    color: var(--timeline-badge-text-dark);
    background: Var(--timeline-badge-bg-dark);
  }
}

[data-bs-theme="light"] {
  .badge {
    color: var(--timeline-badge-text-light);
    background: Var(--timeline-badge-bg-light);
  }
}

.big-badge {
  margin-top: 1.25rem;
}

@media (max-width: 1399.98px) {
  .projects .card {
    min-height: 32.5rem;
  }
}

@media only screen and (max-width: 1199.98px) {
  .projects .card:hover .card-body {
    height: 100%;
  }
  .projects .card {
    min-height: 27.5rem;
  }
}

@media (max-width: 991.98px) {
  .projects {
    padding: 3rem 2rem 1rem 2rem;
    position: relative;
  }

  .projects .card {
    min-height: 27.5rem;
  }

  .projects:before {
    content: "Projectos";
    position: absolute;
    top: 0.5rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.25rem;
    text-decoration: underline;
    font-weight: bolder;
  }
}

@media (max-width: 767.98px) {
  .projects {
    padding: 3rem 1rem 1rem 1rem;
  }

  .projects .card {
    min-height: 37.5rem;
  }
}

@media (max-width: 575.98px) {
  .projects {
    padding: 3rem 0.5rem 0.5rem 0.5rem;
  }

  .projects .card {
    min-height: 25rem;
  }
}