:root {
    --shadow-next-button-hover: teal;
    --nav-height: 4rem;
    --footer-height: 2.5rem;
    --body-height: calc(100vh - var(--nav-height) - var(--footer-height));
    --footer-height-sm: 4rem;
    --botton-lg-height: 3.75rem;
    --body-height-lg: calc(100vh - var(--nav-height) - var(--botton-lg-height));
    --body-height-sm: calc(100vh - var(--nav-height) - var(--footer-height-sm) - var(--botton-lg-height));
    --timeline-badge-text-dark: #2B3035;
    --timeline-badge-bg-dark: #fff;
    --timeline-badge-text-light: #fff;
    --timeline-badge-bg-light: #6d8faf;
    --card-hover: #ab98ab;
    --cookie-bottom: calc(var(--footer-height) + 0.5rem);
    --timeline-dark: #fff;
    --timeline-point-dark: #fff;
    --timeline-date-dark: #fff;
    --timeline-card-bg-dark: #9b9b9b;
    --timeline-title-dark: #212529;
    --timeline-subtitle-dark: #212529;
    --timeline-badge-text-dark: #fff;
    --timeline-badge-bg-dark: #2B3035;
    --timeline-light: #212529;
    --timeline-point-light: #212529;
    --timeline-date-light: #212529;
    --timeline-card-bg-light: #9b9b9b;
    --timeline-title-light: #212529;
    --timeline-subtitle-light: #212529;
    --timeline-badge-text-light: #212529;
    --timeline-badge-bg-light: #fff;
    --card-tecnology-border-light: rgb(33, 37, 41);
    --education-card-hover: #918991;
    --experiencias-border: #c6c6c6;
    --contact-border: #c6c6c6;
};