{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand navbar-nav" href="/">
      <img class="icon-logo-light" id="icon-logo" src='{% static "img/logo_light.svg" %}' alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 container-fluid justify-content-evenly">
            <li class="nav-item"><a href="/sobre_mi" class="nav-link">Sobre mi</a></li>
            <li class="nav-item"><a href="/tecnologias" class="nav-link">Técnologias</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Experiencia</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Proyectos</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Formación</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pasatiempos</a></li>
            <li class="nav-item"><a href='{% static "file/cv_es.pdf" %}' class="nav-link" target="_blank">Curriculum</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
            <li class="nav-item">
              <div class="dropdown">
                <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-globe"></i> <i class="bi bi-translate"></i></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Español</a></li>
                  <li><a class="dropdown-item" href="#">Proximamente</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item"><button class="btn rounded-fill" onclick="switchTheme()"><i class="bi bi-moon-fill" id="icon-theme"></i></button></li>
        </ul>
    </div>
  </div>
</nav>