{% extends "./fragments/base.html" %}
{% load static %}

{% block titulo_ventana %}David Rolón{% endblock %}

{% block main %}
<div class="container py-5 my-5 justify-content-center">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p>
                Soy un apasionado de la tecnología con experiencia en ventas, instalaciones, electricidad, y
                electrónica.<br>Esto me ha llevado a crecer profesionalmente en diferentes áreas.
            </p>
            <p>
                Mi formación como Full Stack Web Developer me ha permitido incursionar en el mundo del
                desarrollo web, donde continúo expandiendo mis conocimientos en un campo siempre en evolución.
            </p>
            <p>
                Lo que más me apasiona es el analisis de datos, el Machine Learning, y la Inteligencia
                Artificial.<br>Estoy inmerso en el estudio
                para convertirme en un Data Scientist y aplicar estas tecnologías innovadoras en proyectos concretos.
            </p>
            <p>
                Cuando no estoy sumergido en cursos o en el trabajo, disfruto de mis pasatiempos como mirar series y
                películas, leer libros, resolver cubos Rubik, jugar videojuegos y explorar el mundo del trading.
            </p>
            <p>
                Estoy emocionado por dar los primeros pasos en mi carrera en el mundo de la tecnología de la
                información.<br>Si bien aún me falta experiencia específica, siempre estoy listo para aprender y crecer.
            </p>
            <p>
                Si buscas a alguien apasionado, comprometido y con un fuerte deseo de aprender, ¡no dudes en
                contactarme!
            </p>
            <p>
                Gracias por visitar mi perfil. ¡Espero tener la oportunidad de colaborar juntos en proyectos
                emocionantes!
            </p>
        </div>
    </div>
</div>
{% endblock %}