{% extends "./fragments/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo_ventana %}David Rolón{% endblock %}

{% block adicional_style %}
<link rel="stylesheet" type="text/css" href='{% static "css/contact_me.css" %}'>
{% endblock %}

{% block main %}
<div class="mx-auto my-3 text-center">
  <h1>Contáctame</h1>
</div>
<div class="d-flex justify-content-center">
  <form action="" method="post" id="post-form">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="text-center">
      <button class="btn btn-outline-primary my-3" type="submit">Enviar</button>
    </div>
  </form>
</div>
<div class="d-flex justify-content-start ms-3">
  <a href="/experience" class="btn-anterior-flotante text-decoration-none">Anterior</a>
</div>
{% endblock %}