{% extends './fragments/base.html' %}
{% load static %}

{% block main %}
  <section class="cookies-policy container justify-content-evenly align-items-center ">
    <h1 class="text-decoration-underline text-center">Política de privacidad</h1>
    <div class="text-left my-3">
    <p>Esta página web es un portafolio personal que muestra mis proyectos, habilidades, y experiencia.</p>
    <p>No recopilo ni almaceno ningún dato personal de los visitantes de esta página, salvo las cookies que se utilizan para recordar el tema de la página (claro u oscuro) y, próximamente, el idioma elegido.</p>
    <p>
      Estas cookies son pequeños archivos de texto que se almacenan en el navegador del usuario y que no contienen ninguna información identificable.<br />
      Puedes eliminar o bloquear estas cookies en cualquier momento desde la configuración de tu navegador.
    </p>
    <p>Si tienes alguna duda o consulta sobre esta política de privacidad, puedes contactarme a través del formulario de contacto que encontrarás en esta página.</p>
    </div>
  </section>
{% endblock %}
