{% extends "./fragments/base.html" %}
{% load static %}

{% block titulo_ventana %}David Rolón{% endblock %}

{% block adicional_style %}
<link rel="stylesheet" type="text/css" href='{% static "css/education_timeline.css" %}'>
{% endblock %}

{% block main %}
<div class="timeline">
  {% for item in education %}
  <div class="timeline-row">
    <div class="timeline-time">
      {{ item.2 }}
      <small>{{ item.1 }}</small>
    </div>
    <div class="timeline-content">
      {% with 'img/certificates/'|add:item.4 as img_path %}
      <img class="img-fluid rounded" src="{% static img_path %}"></img>
      {% endwith %}
      <h4 class="timeline-title my-0 text-wrap">{{ item.0 }}</h4>
      <h5 class="timeline-subtitle">{{ item.3 }}</h5>
      <div>
        {% for badge in item.5 %}
        <span class="badge badge-pill">{{ badge }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}