{% extends "./fragments/base.html" %}
{% load static %}
{% load filter_number_to_month %}

{% block main %}
<section class="experiences experiences-timeline">
    {% for item in experiences %}
    <div class="experience">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="end">
              {% if item.date_end_year|equal_current_year and item.date_end_month|greater_current_month or item.date_end_year|greater_current_year %}
                Actualidad
              {% else %}
                {{ item.date_end_month|short_month_name }} {{ item.date_end_year }}
              {% endif %}
            </span>
            <span class="start">{{ item.date_start_month|short_month_name }} {{ item.date_start_year }}</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">{{item.job}}</h5>
        <h5 class="subtitle">{{item.company}}</h5>
        <p class="description">{{item.description|linebreaks}}</p>
      </div>
    </div>
    {% endfor %}
</section>
{% endblock %}