{% extends './fragments/base.html' %}
{% load static %}

{% block main %}
  <section class="intro d-flex flex-column justify-content-evenly text-center align-items-center px-5">
    <h2 class="display-4 text-uppercase">!Bienvenido!</h2>
    <img src="{% static 'img/cv.webp' %}" alt="Foto de David Rolón" class="rounded-circle my-3 border border-5 img-portrait" />
    <h2 class="display-5">Me llamo David Rolón.</h2>
    <p>En este portafolio podrás conocer más sobre mí, mi trayectoria profesional y mis habilidades.</p>
    <p>Vas a poder conocer algunos de los proyectos que he realizado, donde aplico mis habilidades y conocimientos en diferentes áreas y tecnologías.</p>
    <p>Desde la creación de páginas web dinámicas, interactivas y atractivas, hasta la extracción de información valiosa de grandes volúmenes de datos.</p>
    <p>Puedes seguir la visita guiada, o ir directamente a la sección que más te interese.</p>
    <p>Espero que disfrutes navegando por mi portafolio, y que esta plataforma te permita conocerme mejor.</p>
  </section>
{% endblock %}
