{% extends "./fragments/base.html" %}
{% load static %}

{% block titulo_ventana %}David Rolón{% endblock %}

{% block main %}
<div>
    <h1 class="display-1">¡Bienvenido!</h1>
    <h1 class="display-2">Me llamo David Roón</h1>
    <p>Soy desarrolador web, y cientifico de datos apasionado por el mundo digital.</p>
    <p>En este portfolio podras ver mis proyectos donde aplico mis conocimientos de programación, diseño y análisis de datos.</p>
    <p>Espero que te guste mi trabajo.</p>
    <p>¡Gracias por visitar mi página y bienvenidos a mi espacio creativo!</p>
</div>
{% endblock %}