{% extends "./fragments/base.html" %}
{% load static %}

{% block titulo_ventana %}David Rolón{% endblock %}

{% block adicional_style %}
<link rel="stylesheet" type="text/css" href='{% static "css/projects.css" %}'>
{% endblock %}

{% block main %}
<div class="container mt-4">
  <div class="row">
    {% for item in projects %}
    <div class="card-wrapper col-lg-4 col-md-6 col-xs-12">
      <div class="card text-center">
        <div class="card-img-wrapper">
          {% with 'img/certificates/'|add:item.img_name as img_path %}
          <img class="card-img-top" src="{% static img_path %}" alt="Card image cap">
          {% endwith %}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <div class="card-content">
            <p class="card-text">{{item.description}}</p>
            {% if item.url_github%}
            <a class="btn btn-outline-secondary text-body-secondary" href="{{item.url_github}}" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
              </svg>
            </a>
            {% endif %}
            {% if item.url_demo%}
            <a href="{{item.url_demo}}" class="btn btn-dark" target="_blank">Demo</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}