{% extends './fragments/base.html' %}
{% load static %}

{% block main %}
  <section class="tecnology row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-xl-5 g-4">
    {% for item in tecnologies %}
      <div class="col">
        <div class="card h-100 rounded-3">
          {% with 'img/tecnology/'|add:item.img_name as img_path %}
            <img src="{% static img_path %}" class="card-img-top img-card-size" alt="{{ item.img_name }}"/>
          {% endwith %}
          <div class="card-body text-center">
            <h5 class="card-title">{{ item.name }}</h5>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
