{% extends "./fragments/base.html" %}
{% load static %}

{% block titulo_ventana %}David Rolón{% endblock %}

{% block main %}
<div class="container py-5" id="habilidades">
    <div class="card-group habilidades-list">
        <div class="card">
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/tecnology/html.svg' %}" class="card-img-top img-card-size" alt="HTML">
                <div class="card-body text-center">
                    <h5 class="card-title">HTML</h5>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/tecnology/css.svg' %}" class="card-img-top img-card-size" alt="CSS">
                <div class="card-body text-center">
                    <h5 class="card-title">CSS</h5>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="https://www.python.org/" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/tecnology/python.svg' %}" class="card-img-top img-card-size" alt="Python">
                <div class="card-body text-center">
                    <h5 class="card-title">Python</h5>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}