{% extends "./fragments/base.html" %}
{% load static %}

{% block titulo_ventana %}David Rolón{% endblock %}

{% block adicional_style %}
<link rel="stylesheet" type="text/css" href='{% static "css/tecnology_cards.css" %}'>
{% endblock %}

{% block main %}
<div class="container py-5" id="habilidades">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for item in tecnologies %}
        <div class="col">
            <div class="card h-100 rounded-3">
                {% with 'img/tecnology/'|add:item.img_name as img_path %}
                <img src="{% static img_path %}" class="card-img-top img-card-size" alt="{{item.img_name}}">
                {% endwith %}
                <div class="card-body text-center">
                    <h5 class="card-title">{{item.name}}</h5>
                </div>
            </div>
        </div>        
        {% endfor %}
    </div>
</div>
<a href="/about_me" class="btn-anterior-flotante">Anterior</a>
<a href="/projects" class="btn-siguiente-flotante">Siguiente</a>
{% endblock %}